<div class="cyber-loader-container">
    <div class="cyber-loader-content">
        <div class="cyber-loader">
            <div class="hexagon"></div>
            <div class="hexagon"></div>
            <div class="hexagon"></div>
        </div>
        <div class="loader-text">
            <span>I</span>
            <span>A</span>
            <span>G</span>
            <span>T</span>
            <span>R</span>
            <span>.</span>
            <span>.</span>
            <span>.</span>
        </div>
    </div>
</div> 